    <div class="card border-primary mb-3">
        <div class="card-header"> Vehiculos </div>
        <div class="card-body text-primary">
            <div class="my-2 text-left">
                <button type="button" class="btn btn-primary" [routerLink]="['/vehiculos/form-vehiculo']">Crear vehiculo</button>
            </div>
            <h5 class="card-title">Listado de vehiculos</h5>
            <table class="table table-border table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Placa</th>
                        <th>Marca</th>
                        <th>Color</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehiculo of vehiculos">
                        <td>{{vehiculo.id}}</td>
                        <td>{{vehiculo.placa}}</td>
                        <td>{{vehiculo.marca}}</td>
                        <td>{{vehiculo.color}}</td>
                        <td>{{vehiculo.tipo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

